<h2>GAMEPAGE</h2>

<form>
  PASSWORD<br>
  <textarea id="passwordYo"rows="1" cols="40"></textarea>
  <button id="submitPassword" class="btn">Submit</button>
</form> 

{{#each brawler}}
    <div>
        <h6>{{this.id}}</h6>
        <h6>{{this.userName}}</h6>
        <h6>{{this.charName}}</h6>
        <h6>{{this.attack}}</h6>
        <h6>{{this.defense}}</h6>
        <h6>{{this.intellect}}</h6>
        <h6>{{this.itemOne}}</h6>
        <h6>{{this.itemTwo}}</h6>
        <h6>{{this.itemThree}}</h6>
    </div>
{{/each}}

