<div class="container main-screen">
<section>
    <div id = "welcomeScreen">
        <img class="homepage-header col-md-12" src="../public/assets/images/Header.png"/>
        <br>
        <button id = "newGame" class="btn pulse">New Game</button>
        <br>
        <button id = "continueGame" class="btn pulse">Continue</button>
    </div>

    {{!-- Enter Credentials Screen --}}
    <div id = "enterCredentials" class = "hidden">
        <img class="char-select-head col-md-12" src="../public/assets/images/Enter-Credentials.png"/>
        <form class="create-form text-center">
            <span class="pressStart">Username: </span><textarea id="userNameInput" rows="1" cols="40"></textarea>
            </br>
            <span class="pressStart">Password: </span><textarea id="passwordInput" rows="1" cols="40"></textarea>
            <br>
            <div class="backNext">
                <button class="btn backHome">Back</button>
                <button id="submitCredentials" class="btn">Next</button>
            </div>
        </form>
    </div>

    {{!-- Create User Screen --}}
    <div id = "createUser" class = "hidden">
        <img class="char-select-head col-md-12" src="../public/assets/images/Character-Select.png"/>
        <div id="myID" class="charSelect text-center">
            <br>
            {{!-- <div class="col-xs-12 charNames">Hero&nbsp; Sidekick Shadowtaken Mothman</div> --}}
            <img class="img img-responsive heroCharacter flash" src="../public/assets/images/charSelect/HeroSelect.png" />
            <img class="img img-responsive sidekickCharacter flash" src="../public/assets/images/charSelect/SidekickSelect.png" />
            <img class="img img-responsive shadowtakenCharacter flash" src="../public/assets/images/charSelect/ShadowtakenSelect.png" />
            <img class="img img-responsive mothmanCharacter flash" src="../public/assets/images/charSelect/MothmanSelect.png" />      
            <div class="container">
                <div class="row">
                        <div class="col-md-4 heroStats">
                            <img class="img img-responsive heroStats-img" src="../public/assets/images/charSelect/HeroStats.png"/>
                        </div>
                    <div class="col-md-8 heroStats-text">
                        <p>Name: <span class="yellow">Hero</span></p>
                        <p>Class: <span class="yellow">Brawler</span></p>
                        <p>Strength: <span class="yellow">20</span></p>
                        <p>Defense: <span class="yellow">20</span></p>
                        <P>Intelligence: <span class="yellow">20</span></P>
                    </div>
                </div>
            </div>
                {{!-- <button class="btns flash active" id = "heroCharacter">
                    <img class="heroCharacter" src="../public/assets/images/charSelect/HeroSelect.png" width="150"/>
                </button>
                <button class="btns flash" id = "sidekickCharacter">
                    <img src="../public/assets/images/charSelect/SidekickSelect.png" width="150" />
                </button>
                <button class="btns flash" id = "shadowtakenCharacter">
                    <img src="../public/assets/images/charSelect/ShadowtakenSelect.png" width="150" />
                </button>
                <button class="btns flash" id = "mothmanCharacter">
                    <img src="../public/assets/images/charSelect/MothmanSelect.png" width="150" />
                </button> --}}
                <br>
        <div>
            <button class="backHome btn">Home</button>
            <button id="backToUser" class="btn">User Credentials</button>
            <button id="submitUser" class="btn">Submit</button>
        </div>
        </div>
    </div>


<div id = "userInfo" class = "hidden">
    <div class = "container">
        <table class = "table">
            <thead>
                <tr>
                <th class="bg-warning "scope = "col">#</th>
                <th class="bg-info" scope = "col">Username</th>
                <th class="bg-warning"scope = "col">Character</th>
                <th class="bg-info"scope = "col">Attack Power</th>
                <th class="bg-warning"scope = "col">Defense Health</th>
                <th class="bg-info"scope = "col">Intellect Prowless</th>
                <tr>
            </thead>
            <tbody>
            {{#each brawler}}
                <tr>
                    <th class="bg-warning"scope="row">{{this.id}}</th>
                    <td class="bg-info">{{this.userName}}</td>
                    <td class="bg-warning">{{this.charName}}</td>
                    <td class="bg-info">{{this.attack}}</td>
                    <td class="bg-warning">{{this.defense}}</td>
                    <td class="bg-info">{{this.intellect}}</td>
                    <td class="bg-danger"><strong>Continue the Fight?</strong></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    {{!-- <div class="footer">
        <p>&copy 2018 by Leah and the Git Squad Inc.</p>
    </div> --}}
</section>    
</div>

