<ul>
    {{#each brawler}}
        <li>
            <h2>{{this.userName}}</h2>
            <h2>{{this.charName}}</h2>
            <h2>{{this.attack}}</h2>
            <h2>{{this.defense}}</h2>
            <h2>{{this.intellect}}</h2>
        </li>
    {{/each}}