
<div class="container main-screen">
<section>
    <div id = "welcomeScreen">
        <img class="homepage-header col-md-12" src="../public/assets/images/Header.png">
        <br>
        <button id = "newGame" class="btn pulse">New Game</button>
        <br>
        <button id = "continueGame" class="btn pulse">Continue</button>
    </div>

<div id = "createUser" class = "hidden">
    <h1>Create your Character</h1>
    <form class="create-form">
        <span>Username: </span><textarea id="userNameInput" rows="1" cols="40"></textarea>
        <span>          </span>
        <span>Password: </span><textarea id="passwordInput" rows="1" cols="40"></textarea><br>
        <div>
            <h3>Chose your character</h3>

            
            
            <div id="myID">
                <br>
                <button class="btn active" id = "heroCharacter">HERO</button>
                <button class="btn" id = "sidekickCharacter">Sidekick</button>
                <button class="btn" id = "shadowtakenCharacter">Shadowtaken</button>
                <button class="btn" id = "mothmanCharacter">Mothman</button>
            </div><br>
            </div>
        <button id="submitUser">Submit</button>
        <button id="backHome">Home Page</button>
        <div id="itembuttons"></div>

        </form>
    </div>

<div id = "userInfo" class = "hidden">
    <div class = "container">
        <table class = "table">
            <thead>
                <tr>
                <th class="bg-warning "scope = "col">#</th>
                <th class="bg-info" scope = "col">Username</th>
                <th class="bg-warning"scope = "col">Character</th>
                <th class="bg-info"scope = "col">Attack Power</th>
                <th class="bg-warning"scope = "col">Defense Health</th>
                <th class="bg-info"scope = "col">Intellect Prowless</th>
                <tr>
            </thead>
            <tbody>
            {{#each brawler}}
                <tr>
                    <th class="bg-warning"scope="row">{{this.id}}</th>
                    <td class="bg-info">{{this.userName}}</td>
                    <td class="bg-warning">{{this.charName}}</td>
                    <td class="bg-info">{{this.attack}}</td>
                    <td class="bg-warning">{{this.defense}}</td>
                    <td class="bg-info">{{this.intellect}}</td>
                    <td class="bg-danger"><strong>Continue the Fight?</strong></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="footer">
        <p>&copy 2018 by Leah and the Git Squad Inc.</p>
    </div>
</section>    
</div>

