<div id = "welcomeScreen">
    <h1>Welcome to Boloney Time Machine Brawlers</h1>
    <br>
    <button id = "newGame">New Game</button>
    <br>
    <button id = "continueGame">Continue</button>
</div>

<div id = "createUser" class = "hidden">
    <h1>Create your Character</h1>
    <form class="create-form">
        <span>Username: </span><textarea id="userNameInput" rows="1" cols="40"></textarea>
        <span>          </span>
        <span>Password: </span><textarea id="passwordInput" rows="1" cols="40"></textarea><br>
        <div>
            <h3>Chose your character</h3>
            <br>
            <button id = "heroCharacter">HERO</button>
            <button id = "sidekickCharacter">SIDEKICK</button>
            <button id = "shadowtakenCharacter">SHADOWTAKEN</button>
            <button id = "mothmanCharacter">MOTHMAN</button>
        </div><br>
        <button id="submitUser">Submit</button>
    </form>
</div>

<div id = "userInfo" class = "hidden">
    <ul>
        {{#each brawler}}
            <li>
                <h2>{{this.userName}}</h2>
                <h2>{{this.charName}}</h2>
                <h2>{{this.attack}}</h2>
                <h2>{{this.defense}}</h2>
                <h2>{{this.intellect}}</h2>
            </li>
        {{/each}}
    </ul>
</div>