<ul>
    {{#each itemStuff}}       
            <li><h2>{{this.itemName}}</h2></li>
            <li><h2>{{this.attack}}</h2></li>
            <li><h2>{{this.defense}}</h2></li>
            <li><h2>{{this.intellect}}</h2></li>
            <li><h2>{{this.charName}}</h2></li>
    {{/each}}
</ul>